.head {
    background-color: red;
    color:blue; 
}

.slaw {
    width:1000px;
    length:2000px;
}

.text {
    font-size:large;
    font-weight:bolder;
    font-family: 'Times New Roman'
}

.list {
    font-size:x-large;
    font-weight:bold;
    color:indigo;
}

.corn {
    background-color:blueviolet;
    font-size:xx-large;
    font-family:Tahoma;
}

.list-two {
    font-size:medium;
    font-weight:bold;
    color:deeppink;
    background-color:darkgreen;
}

.corn-image {
    width:700px;
    length:1400px;
}

.beef {
    background-color:aquamarine;
    color:orangered;
}

.beef-image {
    width:500px;
    length:1000px;
}

.list-three {
    background-color:darkgoldenrod;
    color:darkblue;
    font-size:small;
}